<!--
Interface coded by Wanderson Jackson, UX Designer and UI Developer
https://www.uplabs.com/jackson
------------------------------------------------------------------
UI Concept by Viyaj Verna, Product designer
https://www.uplabs.com/posts/profile-card-ddd03647-6e7e-4bda-8571-0d1f4eb52f21
twitter.com/realvjy
-->

<div class="container">
  <div class="grid-7 element-animation">
    <!--card-1-->
    <div class="card color-card">
      <ul>
        <li><i class="fas fa-arrow-left i-l w"></i></li>
        <li><i class="fas fa-ellipsis-v i-r w"></i></li>
        <li><i class="far fa-heart i-r w"></i></li>
      </ul>
      <img [src]="footplayer.image" alt="profile-pic" class="profile">
      <h1 class="title">{{footplayer.name}}</h1>
      <h2 class="job-title"> {{footplayer.currentteam}}</h2>
      <div class="desc top">
        <p>Total Goals: {{footplayer.Totalgoals}}</p>
      </div>
    

      <hr>
      <div class="container">
        <div class="content">
          <div class="grid-2">
            <button class="color-b circule"> <i class="fab fa-dribbble fa-2x"></i></button>
            <h2 class="title">12.3k</h2>
            <p class="followers">Followers</p>
          </div>
          <div class="grid-2">
            <button class="color-c circule"><i class="fab fa-behance fa-2x"></i></button>
            <h2 class="title">16k</h2>
            <p class="followers">Followers</p>
          </div>
          <div class="grid-2">
            <button class="color-d circule"><i class="fab fa-github-alt fa-2x"></i></button>
            <h2 class="title">17.8k</h2>
            <p class="followers">Followers</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">













